<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <label class="nav-head">COVID-19</label>
    <!-- <img class="nav-left" src="../../assets/img/cough.png" alt=""/> -->
    <i class="fa fa-arrow-left" (click)="back()"></i>
    <img class="nav-right" src="../../assets/img/coronalogo.png" alt=""/>
    <input #search type="text" class="search" placeholder="Search Counrty" (keyup)="onKey(search.value)"/>
    <!-- (keyup)="onKey($event)" -->
    <div class="scrolling-wrapper">

    </div>

  </div>
</ion-content>
